.select-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.hidden {
  display: none;
}

.select__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select {
  background-color: var(--color-light-gray);
  border-radius: 10px;
  border: 1px var(--color-dark-gray) solid;
}