.header {

}

.header__logo-link{
  text-decoration: none;
  color: var(--color-black);
}

.header__container {
  padding: 16px 32px 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inner{
  display: flex;
  justify-content: space-between;

  gap: 32px;
}

.header__nav-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  gap: 24px;
}

.header__actions{
  display: flex;
  flex-direction: row;
}

.header__list-link{
  color: var(--color-gray);
}


.is-active{
  color: var(--color-black);
}

.header__bottom-border{
  width: 100vw;
  border: 1px solid var(--color-dark-gray);
}


