.special-deal {
  position: relative;
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 16px;
  border-radius: 10px;
}

.special-deal__head {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px;
}

.h1 {
  font-size: 18px;
}

.special-deal__offer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-right: 40px;
}

.special-deal__button {
  position: absolute;
  top: 2%;
  left: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 5px;
  /*width: 31px;*/
  /*height: 31px;*/
}